/* DashboardPage.css */

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-section {
    flex: 1; /* Allow left section to take some space */
    padding: 20px; /* Add padding for spacing */
  }
  
  .right-section {
    flex: 1; /* Allow right section to take some space */
    padding: 20px; /* Add padding for spacing */
  }
  
  .bar-chart-container {
    margin-top: 20px; /* Add some space above the bar chart */
  }
  