/* Styling for the header (nav bar) */
.header {
  background-color: #f9f9f9; /* Light background color */
  padding: 0.05rem 1rem;  /* Reduced padding for a thinner bar */
  display: flex;
  justify-content: space-between; /* Logo on the left, links centered */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 25px;
}

.logo {
  width: 140px;  /* Smaller logo size */
  height: auto;
  margin-right: 30px; /* Space between the logo and the navigation links */
}

.nav {
  display: flex;
  gap: 1.5rem;  /* Reduced space between the links */
  flex-grow: 1; /* Allow nav to take available space */
  justify-content: center; /* Center the nav links */
}

.nav-link {
  color: #d3571b;
  text-decoration: none;
  font-size: 1.2rem;  /* Decreased font size for a less bulky nav */
  font-weight: bolder;  /* Bold font for better prominence */
}

.nav-link:hover {
  color: #ff9c07; /* Change color on hover */
}
